/* Reset Browser Default Styles using universal * selector */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Whole page styles (everything is in <body> */
body {
    padding: 10px;
    font-family: "Merriweather", Arial, Helvetica, sans-serif;
    text-align: center;
}

/* Styles for the <header> section */
header {
    background-color: #abaea7;
    text-align: center;
    height: 60px;
    padding: 10px;
}

/* Styles for the <nav> section */
nav {
    margin-bottom: 10px;
    background-color: #e2e2e2;
    text-align: flex;
    height: 140;
}

main {
    display: block;
    width: 100%;
    text-align: justify;
    background-color: #373836;
    padding: 15px;
    padding-top: 15px;
    padding-bottom: 1px;
}

.left-column,
.right-column {
    display: inline-block;
    vertical-align: top;
    /* Allinea le colonne in alto */
    border: 60px solid #72756f;
}

.left-column {
    width: 70%;
    /* Colonna di sinistra più larga */
    padding: 10px;
    background: #e2e2e2;
    height: 600px;
    border: 20px solid #72756f;
    margin-bottom: 30px;
}

.left-column h1 {
    text-align: center;
    /* Allinea il testo al centro */
    margin-bottom: 15px;
    /* Spazio sotto l'h1, opzionale */
}

.right-column {
    width: 29%;
    /* Colonna di destra più stretta */
    padding: 10px;
    background: #e2e2e2;
    height: 600px;
    border: 20px solid #72756f;
    text-align: center;
}

.right-column h2 {
    border: 10px solid #72756f;
    margin-bottom: 15px;
}

ul {
    display: inline-block;
    /* Rende l'elenco un elemento a larghezza contenuta */
    text-align: left;
    /* Allinea il testo dell'elenco a sinistra, all'interno del blocco */
    list-style-position: inside;
    /* I marker degli elenchi si allineano con il testo */
    padding-left: 0;
    /* Rimuove il padding sinistro predefinito dell'elenco */
}

ul li {
    /* Stili opzionali per l'elemento della lista */
    margin-bottom: 10px;
    /* Spazio tra gli elementi dell'elenco */
}

.sub-column {
    display: inline-block;
    width: 31%;
    /* Larghezza di ciascuna parte, con margini inclusi */
    padding: 67px;
    background: #ddd;
    margin-right: 2%;
    /* Spazio tra le colonne */
    text-align: center;
    border: 20px solid #72756f;
    margin-top: 0px;
}

.sub-columns {
    display: block;
    margin-top: 0px;
    /* Spazio tra la colonna principale e la sottocolonna */
}

.sub-column:nth-child(3) {
    margin-right: 0;
    /* Nessun margine a destra per l'ultima colonna */
}



/* Styles for the <footer> section */
footer {
    margin-top: 10px;
    height: 100px;
    background-color: #abaea7;
    text-align: center;
    text-overflow: ellipsis;
    font-family: cursive;
    vertical-align: baseline;
    height: 60px;
    padding: 40px;
}